{{#each days}}
<div class="menu-item">
    <div class="menu-item__day">{{day}}</div>
    {{#if menuExists}}
    {{#each dish}}
    <div class="menu-item__dish">
        <div class="dish-name">{{name}}</div>
        <div class="dish-weight">{{weight}} {{#if weight}}g{{/if}}</div>
        <div class="dish-price">{{cost}} BYN</div>
    </div>
    {{/each}}
    {{else}}
    <div class="menu-item__no-menu-msg">There is no menu on this day.</div>
    {{/if}}
</div>
{{/each}}