{{#each days}}
<div class="menu-item">
    <div class="menu-item__day">{{day}}</div>
    {{#if menuExists}} {{#each dish}}
    <div class="menu-item__dish">
        <div class="dish-name">{{name}}</div>
        <div class="dish-props">
            <div class="dish-weight">{{weight}} {{#if weight}}{{i18n 'other.weight'}}{{/if}}</div>
            <div class="dish-price">{{cost}} BYN</div>
        </div>
    </div>
    {{/each}} {{else}}
    <div class="menu-item__no-menu-msg">{{i18n 'managerPage.uploadMenu.nomenu'}}</div>
    {{/if}}
</div>
{{/each}}
{{#if published}}
{{else}}
<button class="publish-button shadow">
    {{i18n 'managerPage.uploadMenu.publishMenu'}}
</button>
{{/if}}