<div class="today-orders__row">
    {{#each this}}
    <div class="today-orders__card-outside">
      <div class="today-orders__card">
        <div class="today-orders__header today-orders__text">
          {{username}}
        </div>
        <div class="today-orders__card-inside">
          <div class="today-orders__card-content">
            {{#each dishList}}
            <div class="today-orders__card-item">
              <div class="today-orders__text">{{dishTitle}}</div>
              <div class="today-orders__card-item-count today-orders__text">x{{amount}}</div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    {{else}}  
    <span class="today-orders__empty today-orders__text">{{i18n 'managerPage.todaysOrder.emptyList'}}</span>
    {{/each}}
</div>
<div class="today-orders_print-button-container"><button class="today-orders_print-button universal-hover-effect">Print</button></div>
