<div class="user-balance__table-header">
    <span class="user-balance__user-name-title">{{i18n 'managerPage.updateBalance.user'}}</span><span class="user-balance__balance-title">{{i18n 'managerPage.updateBalance.balance'}}</span>
</div>
{{#each users}}
    <div class="user-balance__user-item">
        <span class="user-balance__user-name">{{firstName}} {{lastName}}</span>
        <div class="user-balance__balance-container">
            <span class="user-balance__balance">{{balance}}</span>
            <span class="user-balance__currency">{{i18n 'other.currency'}}</span>
        </div>
        <input type='text' class="user-balance__balance-input" placeholder={{i18n 'managerPage.updateBalance.enterSum'}}></input>
        <div class="user-balance__submit-button">{{i18n 'managerPage.updateBalance.replenish'}}</div>
    </div>
{{/each}}
{{#unless users}}
    <span class="user-balance__empty-list">{{i18n 'managerPage.updateBalance.emptySearch'}}</span>
{{/unless}}