<div class="menu-item">
  <div class="menu-item-name">{{name}}</div>
  <div class="menu-item-info">
    <div class="weight"> {{#if weight}} {{weight}}г {{/if}}</div>
    <div class="quantity-center" color={{color}}>
      <i class="decr crmnt-icon crmnt-button material-icons">&#xE15B;</i>
      <div class="quantity">{{quantity}}</div>
      <i class="incr crmnt-icon crmnt-button material-icons">&#xE145;</i>
    </div>
    <div class="cost">{{cost}} BYN</div>
  </div>
</div>